<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="FR">
    <head>
        <title>Créer un employé</title>
        <link rel="stylesheet" href="/css/pico.min.css">
        <link rel="stylesheet" href="/css/extra_css.css">
    </head>
    <body>
    <h1>Créer un employé</h1>
        <form th:action="@{/employees}" method="post" th:object="${employee}">
            <label for="firstName">Prénom:</label>
            <input type="text" id="firstName" name="firstName" th:field="*{firstName}"><br><br>

            <label for="lastName">Nom de famille:</label>
            <input type="text" id="lastName" name="lastName" th:field="*{lastName}"><br><br>

            <label for="email">Email:</label>
            <input type="text" id="email" name="email" th:field="*{email}"><br><br>

            <input type="submit" value="Créer">
        </form>
    </body>
</html>