<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="FR">
    <head>
        <title>Modifier un employé</title>
	<link rel="stylesheet" href="/css/pico.min.css">
    <link rel="stylesheet" href="/css/extra_css.css">
    </head>
    <body>
        <form th:object="${employee}" th:action="@{/employees/save}" method="post">
            <input type="hidden" th:field="*{idEmployee}" />

            <label for="name">Name:</label>
            <input type="text" id="name" th:field="*{name}" />

            <label for="department">Department:</label>
            <input type="text" id="department" th:field="*{department}" />

            <label for="email">Email:</label>
            <input type="text" id="email" th:field="*{email}" />

            <label for="warehouse">Warehouse:</label>
            <select id="warehouse" th:field="*{warehouse}">
                <option th:each="wh : ${warehouses}" th:value="${wh}" th:text="${wh.name}"></option>
            </select>

            <button type="submit">Save</button>
        </form>
    </body>
</html>