<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="FR">
    <head>
        <title>Liste des employés</title>
	<link rel="stylesheet" href="/css/pico.min.css">
    <link rel="stylesheet" href="/css/extra_css.css">
    </head>

    <body>

        <div th:if="${session['alertMessage']}" id="alert-danger">
            <p th:text="${session['alertMessage']}"></p>
        </div>

        <div id = "title">
            <h1>Liste des employés</h1>
        </div>

        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Prénom</th>
                <th>Nom de l'entrepot</th>
                <th>Departement</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee : ${employees}">
                <td th:text="${employee.getIdEmployee()}">ID</td>
                <td th:text="${employee.getName()}">Prénom</td>
                <td th:text="${employee.getWarehouse().getName()}">Nom de l'entrepot</td>
                <td th:text="${employee.getDepartment()}">Departement</td>
                <td th:text="${employee.getEmail()}">Email</td>
                <td>
                    <a th:href="@{'/employees/edit/' + ${employee.getIdEmployee()}}">Edit</a>
                    <a th:href="@{'/employees/remove/' + ${employee.getIdEmployee()}}" onclick="return confirm('Are you sure?')">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>

    <div id="create_elem">
            <a th:href="@{/employees/new}">Create new employee </a>
    </div>
    <div id="back_elem">
            <a th:href="@{/}">Back to the main page</a>
        </div>
    </body>

</html>