<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Page d'accueil</title>
        <link rel="stylesheet" href="/css/pico.min.css">
        <link rel="stylesheet" href="/css/extra_css.css">
    </head>
    <body>
    <h1>Projet</h1>
        <ul>
            <li><a th:href="@{/employees}">Employés</a></li>
            <li><a th:href="@{/categories}">Catégories</a></li>
            <li><a th:href="@{/orders}">Commandes</a></li>
            <li><a th:href="@{/order/detail}">Détails de commande</a></li>
            <li><a th:href="@{/products}">Produits</a></li>
            <li><a th:href="@{/product/warehouse}">Produits d'entrepôt</a></li>
            <li><a th:href="@{/suppliers}">Fournisseurs</a></li>
            <li><a th:href="@{/transactions}">Transactions</a></li>
            <li><a th:href="@{/warehouses}">Entrepôts</a></li>
        </ul>
    </body>
</html>