<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Create Product</title>
    <link rel="stylesheet" href="/css/pico.min.css">
    <link rel="stylesheet" href="/css/extra_css.css">
</head>

<body>

    <h2>Create Product</h2>

    <form th:action="@{/products}" method="post" th:object="${product}">
        <label for="name">Product Name:</label>
        <input type="text" id="name" name="name" th:field="*{name}" required />

        <label for="quantity">Quantity:</label>
        <input type="text" id="quantity" name="quantity" th:field="*{quantity}" required />

        <label for="price">Price:</label>
        <input type="text" id="price" name="price" th:field="*{price}" required />

        <!-- Add dropdowns for associated entities (CategoryEntity and SupplierEntity) -->
        <label for="category">Category:</label>
        <select id="category" name="category.idCategory" th:field="*{category.idCategory}">
            <option th:each="category : ${categories}" th:value="${category.idCategory}" th:text="${category.name}">
            </option>
        </select>

        <label for="supplier">Supplier:</label>
        <select id="supplier" name="supplier.idSupplier" th:field="*{supplier.idSupplier}">
            <option th:each="supplier : ${suppliers}" th:value="${supplier.idSupplier}" th:text="${supplier.name}">
            </option>
        </select>

        <button type="submit">Create</button>
    </form>

</body>

</html>