<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Products</title>
	<link rel="stylesheet" href="/css/pico.min.css">
    <link rel="stylesheet" href="/css/extra_css.css">
</head>
<body>

<h2>Products</h2>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Category</th>
        <th>Supplier</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.idProduct}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.quantity}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.category.name}"></td>
        <td th:text="${product.supplier.name}"></td>
        <td>
            <a th:href="@{'/products/edit/' + ${product.idProduct}}">Edit</a>
            <a th:href="@{'/products/remove/' + ${product.idProduct}}" onclick="return confirm('Are you sure?')">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

    <div id="create_elem">
        <a th:href="@{/products/new}">Add New Product</a>
    </div>
    <div id="back_elem">
        <a th:href="@{/}">Back to the main page</a>
    </div>

</body>
</html>