<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="FR">
    <head>
        <title>Créer un employé</title>
	<link rel="stylesheet" href="/css/pico.min.css">
    <link rel="stylesheet" href="/css/extra_css.css">
    </head>
    <body>
    <h1>Créer un employé</h1>
        <form th:action="@{/employees}" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required />

            <label for="department">Department:</label>
            <input type="text" id="department" name="department" required />

            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required />

            <label for="warehouse">Warehouse:</label>
            <select id="warehouse" name="warehouse" required>
                <option th:each="wh : ${warehouses}" th:value="${wh.idWarehouse}" th:text="${wh.name}"></option>
            </select>

            <button type="submit">Add Employee</button>
        </form>
    </body>
</html>